@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.font1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    
}
.font2{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style: italic;
 font-weight: 700;
}
.font3{
    font-family: 'Times New Roman', Times, serif;

}
.font4{
    font-family: "Poiret One", sans-serif;

}
.font5{
    font-family: "Marck Script", cursive;


}
@font-face {
    font-family: "ayse" ;
    src: url(./Charmonman-Regular.ttf);
}

.font6{
    font-family: "ayse";
    
}
 
