/* ------------------------ */
/*            nav           */
/* ------------------------ */

//colors

$primary-color:#272727;
$secondary-color:#ff652f;
$hover-color:blue;
$text-color:#fff;


//fonts
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path
$pathname1: "../img/model-1_720.jpg";
$pathname2: "../img/project-1_720.jpg";
$pathname3: "../img/project-2_480.jpg";
$pathname4: "../img/project-3_480.jpg";
$pathname5: "../img/project-4_720.jpg";
$pathname6: "../img/project-5_720.jpg";
$pathname6: "../img/project-6_720.jpg";
