
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

}

.header{
    background: linear-gradient(60deg,black,red); 
    


}
.header img{
    width: 60px;
}

.register{
    float: right;
    position: absolute;
    top:10px;
    right: 1.5rem;
}

ul{
    color: white;
    font-family: "Rowdies", sans-serif;
    text-align: center;

}

ul li{
    display: inline-block;
    padding: 0.8rem;


}
.navbar{
    background-color: black;
}

.carousel{
    height: 70vh;
    background: linear-gradient(60deg,rgba(0, 0, 0,0.3),rgb(255, 0, 0,0.7)),url(./images/fast-food.jpg);
    background-size: cover;
    background-position: right bottom 30% ;
    position: relative;
}

.carousel h2{
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 30%;
    left: 20%;

    background: -webkit-linear-gradient(190deg,#790808,#ed9c07);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.clearfix{
    clear: both;
}

.footer{
    background: linear-gradient(60deg,black,red);
    text-align: center;
}

.footer p{
    color: white;
    padding: 1rem;
}

.main-container{
    height: 80%;
    width: 20%;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    border-radius:15px;
    outline: 5px ridge rgb(110, 21, 21);
    outline-offset: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    background:linear-gradient(60deg,rgba(184, 249, 6, 0.736),rgba(255, 0, 0, 0.76));
    margin-left: 2rem;
    margin-top: 1.5rem;

    

}

main{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(60deg,rgb(0, 0, 0),rgb(225, 12, 12));
}

.main-container img{
    width: 200px;
    height: 200px;
    border:2px solid #f41313;
    border-radius: 19px;
    margin-top: 15px;
    
}

.btn{
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    background: -webkit-linear-gradient(190deg,#fd0505,#5e3e03);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
}

.btn:hover{
    transform: translate3d(5px,5px,5px);
    background: -webkit-linear-gradient(190deg,#5e3e03,#fd0505);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.main-container h4{
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 2px inset black;
    border-radius: 5px;
    width: 150px;
    margin-left: 70px;
    line-height: 2rem;
}

.text{
    

    
}
